@import url(https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trade Winds", display;
}

body {
  background-color: rgb(161, 0, 176);
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
}

.information-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(118, 118, 118, 0.933);
}

.game-board {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  padding: 40px;
  gap: 5px;
  align-items: center;
  align-content: center;
  height: 70%;
}

.game-box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

.game-box.show-loading {
  animation: scale 2s ease infinite;
}

.hasImage {
  background-color: bisque;
}

.hasImage::before {
  content: "🤪";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scale {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.85);
  }

  100% {
    transform: scale(0.99);
  }
}

.red {
  background-color: red;
}

.disabled {
  pointer-events: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-size: 30px;
}

#tryAgain {
  font-size: 30px;
  padding: 12px 20px;
  border-radius: 6px;
}

.none {
  display: none;
}
